@charset "utf-8";


@font-face {
    src: url("../fonts/Pretendard-Thin.otf");
    font-family: "Pretendard-Thin";
}

@font-face {
    src: url("../fonts/Pretendard-Regular.otf");
    font-family: "Pretendard-Regular";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.otf");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-SemiBold.otf");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("../fonts/Pretendard-ExtraBold.otf");
    font-family: "Pretendard-ExtraBold";
}




@font-face {
    src: url("../fonts/Urbanist-Light.ttf");
    font-family: "Urbanist-Light";
}
@font-face {
    src: url("../fonts/Urbanist-Regular.ttf");
    font-family: "Urbanist-Regular";
}
@font-face {
    src: url("../fonts/Urbanist-Medium.ttf");
    font-family: "Urbanist-Medium";
}
@font-face {
    src: url("../fonts/Urbanist-SemiBold.ttf");
    font-family: "Urbanist-SemiBold";
}
@font-face {
    src: url("../fonts/Urbanist-ExtraBold.ttf");
    font-family: "Urbanist-ExtraBold";
}




body{
    position: relative;
    float:left;
    width:100vw;
    height:100vh;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Pretendard-Medium";
}

a,p,li{
    text-decoration: none;
    color:#292929;
}


/* //#header 시작 */


#header{
    position: fixed;
    z-index: 10;
    width:100%;
    height:100px;
}

.header-wrap{
    position: relative;
    float:left;
    width:1440px;
    height:100%;
    left:50%;
    transform: translate(-50%);
}
.logo{
    position: relative;
    float:left;
    width:150px;
    top:50%;
    transform: translate(0,-50%);
}

.header-box{
    position: relative;
    float:right;
    width:100px;
    height:100%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    font-family: "Pretendard-Regular"
}
.menu{
    position: relative;
    float:left;
    width:30px;
}


/* //#header 끝 */








/* //#bespoke 시작 */

#bespoke{
    position: fixed;
    width:100%;
    height:100vh;
    /*
    background-image: url(../test/image/develop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    */
    z-index: 1;
    margin-top:-470px;
    min-width:2400px;
    left:50%;
    transform: translate(-50%);
}

.bespoke-bg{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}
.bespoke-txt-box{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 5;
}
.bespoke-title{
    position: relative;
    float:left;
    width:100%;
    font-size: 55px;
    color:#fff;
    font-family: "Pretendard-Thin";
    text-align: center;
    margin-bottom:25px;
}
.bespoke-sub-title{
    position: relative;
    float:left;
    width:100%;
    font-size: 24px;
    color:#fff;
    font-family: "Pretendard-Regular";
    text-align: center;
    margin-bottom:25px;
}

.bespoke-btn{
    position: relative;
    float:left;
    width:100%;
    height:auto;
    text-align: center;
    color:#fff;
    font-size: 18px;
}

/* //#bespoke 끝 */



/* //#bespoke2 시작 */

#bespoke2{
    position: relative;
    float:left;
    width:100%;
    height:100vh;
    z-index: 1;
}
.bespoke2-wrap{
    position: sticky;
    float:left;
    width:100%;
    height:100vh;
    background-image: url(image/bespoke.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:100vh;
    border-top:1px solid #292929;
    border-bottom:1px solid #292929;
}

.bespoke2-title{
    position: absolute;
}

/* //#bespoke2 끝 */





/* //#section-wrap 시작 */

#section-wrap{
    position: relative;
    float:left;
    width:100%;
    height:100vh;
    overflow-x: hidden;
    z-index: 2;
}

#product{
    position: sticky;
    float:left;
    width:100%;
    height:100vh;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom:1px solid #292929;
    top:0;
    margin-top:100vh;
    background: #fff;
}

.section1{
    position: relative;
    width:33%;
    box-sizing: border-box;
    
    background-image: url(../test/image/willy.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section2{
    position: relative;
    width:33%;
  
}
.section3{
    position: relative;
    width:33%;
    
    background-image: url(../test/image/block.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}





#replan{
    position: relative;
    float:left;
    width:100%;
    height:auto;
    min-width: 2150px;
    z-index: 2;
}

video{
    position: relative;
    float:left;
    margin:0 auto;
    padding:0;
}

.replan-title{
    position: absolute;
    top:50%;
    transform: translate(0,-50%);
    font-size: 100px;
    font-family: "Pretendard-Regular";
    box-sizing: border-box;
    padding-left:100px;
    -webkit-text-stroke-color: #292929;
    -webkit-text-stroke-width: 1px;
    color:rgba(0,0,0,0);
    letter-spacing: -1px;
    -webkit-user-select:none;
    -moz-user-select:none; 
    -ms-user-select:none; 
    user-select:none;
}

.replan-kind-wrap{
    position: absolute;
    right:0;
    bottom:0;
    width:30%;
    height:100%;
    border-left:1px solid #292929;
    box-sizing: border-box;
}

.footer{
    position: relative;
    float:left;
    width:100%;
    height:400px;
    background: #fff;
}


*/
/* //#section1 끝 */






/* //#first 시작 */
/*
#first{
    position: relative;
    float:left;
    width:100%;
    height:100vh;
    background-image: url(../test/image/develop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#second {
    position: relative;
    float:left;
    width:100%;
    height:100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top:100px;
}

.video-wrap{
    position: relative;
    width:auto;
    height:auto;
    border-radius: 20px;
    overflow: hidden;
}*/
/* //#first 끝 */




