@charset "utf-8";


@font-face {
    src: url("../fonts/Pretendard-Thin.otf");
    font-family: "Pretendard-Thin";
}

@font-face {
    src: url("../fonts/Pretendard-Regular.otf");
    font-family: "Pretendard-Regular";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.otf");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-SemiBold.otf");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("../fonts/Pretendard-ExtraBold.otf");
    font-family: "Pretendard-ExtraBold";
}




@font-face {
    src: url("../fonts/Urbanist-Light.ttf");
    font-family: "Urbanist-Light";
}
@font-face {
    src: url("../fonts/Urbanist-Regular.ttf");
    font-family: "Urbanist-Regular";
}
@font-face {
    src: url("../fonts/Urbanist-Medium.ttf");
    font-family: "Urbanist-Medium";
}
@font-face {
    src: url("../fonts/Urbanist-SemiBold.ttf");
    font-family: "Urbanist-SemiBold";
}
@font-face {
    src: url("../fonts/Urbanist-ExtraBold.ttf");
    font-family: "Urbanist-ExtraBold";
}





/*
body::-webkit-scrollbar{
    display: none;
}
*/

body {
    position: relative;
    min-width:1400px;
    transition-duration: 1s;
    /*-ms-overflow-style: none; /* IE and Edge */
    /*scrollbar-width: none; /* Firefox */
    /*background-image: url(../plantlance-img/main-bespoke1.jpg);*/
}


a,
p,
li {
    text-decoration: none;
    color: #2f2f2f;
}


input{
    display: none;
}

/* //#button-wrap 시작 */
#button-wrap{
    position: fixed;
    top:0;
    width:1400px;
    left:50%;
    transform: translate(-50%);
    margin-top:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    border-radius: 40px;
    box-sizing: border-box;
    background: #fff;
    transition:all .3s;
}
.button1{
    position: absolute;
    width:52%;
    height:45px;
    cursor: pointer;
    border-radius: 40px;
    transition-duration: .2s;
    box-sizing: border-box;
    border:1px solid #e0e0e0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right:none;
    background: #fff;
}
.button2{
    position: absolute;
    right:0;
    width:52%;
    height:45px;
    cursor: pointer;
    border-radius: 40px;
    box-sizing: border-box;
    transition-duration: .2s;
    border:1px solid #e0e0e0;
    border-left:none;
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0; 
    background: #fff;
}

.button-txt{
    width:100%;
    height:100%;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:18px;
    font-family: "Pretendard-Medium";
}




/* //#button-wrap 끝 */




/* //#promotion1 시작 */
#promotion1{
    position: relative;
    float:left;
    width:100%;
    height:auto;
    margin-top:250px;
    display: none;
}
.promotion1-wrap{
    position: relative;
    float:left;
    width:1400px;
    left:50%;
    transform: translate(-50%);
}
.month-title{
    position: relative;
    float:left;
    width:auto;
    font-family: "Pretendard-Thin";
    font-size: 150px;
}

.promotion-info-wrap{
    position: relative;
    float:right;
    width:220px;
    height:auto;
    margin-top:20px;
}
.promotion-info-title{
    position: relative;
    float:left;
    width:100%;
    font-family: "Pretendard-Medium";
    font-size:40px;
    margin-bottom: 40px;
}

.promotion-info-txt{
    position: relative;
    float:left;
    width:100%;
    font-family: "Pretendard-Regular";
    font-size: 26px;
    line-height: 1.5;
}

.promotion-short-view{
    position: relative;
    float:left;
    width:100%;
    height:210px;
    margin-top:240px;
    overflow-y: hidden;
}

.short-txt-wrap{
    position: relative;
    float:left;
    width:300px;
    height:auto;
}
.short-title{
    position: relative;
    float:left;
    width:100%;
    font-family: "pretendard-Regular";
    font-size:40px;
    margin-bottom:10px;
}
.short-txt{
    position: relative;
    float:left;
    width:100%;
    font-family: "pretendard-Regular";
    font-size:20px;
    margin-bottom:50px;
}
.detail-btn{
    position: relative;
    float:left;
    width:100%;
    height:70px;
    background: #2f2f2f;
    border-radius: 40px;
    color:#fff;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.block-img{
    position: relative;
    float:right;
    width:900px;
    margin-top:40px;
}
/* //#promotion1 끝 */




/* //#promotion-img-box 시작 */
#promotion-img-box{
    position: relative;
    float:left;
    width:100%;
    height:auto;
    margin-top:140px;
}

#promotion-img-box img{
    position: relative;
    float:left;
    width:100%;
}
/* //#promotion-img-box 끝 */





/* //#promotion2 시작 */
#promotion2{
    position: relative;
    float:left;
    width:100%;
    height:auto;
    margin-top:250px;
    display: none;
}
.promotion2-wrap{
    position: relative;
    float:left;
    width:1400px;
    left:50%;
    transform: translate(-50%);
}
.wily-img{
    position: relative;
    float:right;
    width:900px;
}
/* //#promotion2 끝 */




#promotion-btn1:checked ~ #button-wrap .button1,
#promotion-btn2:checked ~ #button-wrap .button2{
    background: #2f2f2f;
    border-radius: 40px;
    border:0;
    z-index: 2;
}



#promotion-btn1:checked ~ #button-wrap .button1 .button1-txt,
#promotion-btn2:checked ~ #button-wrap .button2 .button2-txt{
    color:#fff;
}




#promotion-btn1:checked ~ #promotion1,
#promotion-btn2:checked ~ #promotion2{
    display: block;
}
