@charset "UTF-8";
/* Sacaramento */
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

/* Pretendard */
@font-face {
    font-family: "Pretendard-ExtraLight";
    src: url(../fonts/Pretendard-ExtraLight.otf);
}

@font-face {
    font-family: "Pretendard-Light";
    src: url(../fonts/Pretendard-Light.otf);
}

@font-face {
    font-family: "Pretendard-Thin";
    src: url(../fonts/Pretendard-Thin.otf);
}

@font-face {
    font-family: "Pretendard-Regular";
    src: url(../fonts/Pretendard-Regular.otf);
}

@font-face {
    font-family: "Pretendard-Medium";
    src: url(../fonts/Pretendard-Medium.otf);
}

@font-face {
    font-family: "Pretendard-SemiBold";
    src: url(../fonts/Pretendard-SemiBold.otf);
}

@font-face {
    font-family: "Pretendard-Bold";
    src: url(../fonts/Pretendard-Bold.otf);
}

@font-face {
    font-family: "Pretendard-ExtraBold";
    src: url(../fonts/Pretendard-ExtraBold.otf);
}

@font-face {
    font-family: "Pretendard-Black";
    src: url(../fonts/Pretendard-Black.otf);
}

:root{
    --vh:100%;
}

html {
    position: relative;
    width: 100vw;
    height: 100vh;
    height: var(--vh);
}

body {
    position: relative;
    float: left;
    width:100%;
    height: 100vh;
    height: var(--vh);
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
}

#main {
    position: relative;
    float: left;
    width: 100%;
    height: 100vh;
    font-family: 'Pretendard-SemiBold';
    display: grid;
    box-sizing: border-box;
    padding: 20px;
}

.button-wrap {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 100%;
    font-size: 4.5vw;
}

.button-wrap a {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: block;
}

.button {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #2f2f2f;
    border-radius: 40px;
    box-shadow: 1px 1px 15px 2px rgba(0, 0, 0, 0.1);
    display: grid;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
}

.button img {
    position: relative;
    float: left;
    width: 30vw;
    margin-bottom: 0;
}

.button p {
    position: absolute;
    width:auto;
    margin: 0;
    text-align: right;
    box-sizing: border-box;
    padding: 10px 23px;
    bottom:30px;
    left:50%;
    transform: translate(-50%, 0);
    background: #2f2f2f;
    color:#fff;
    border-radius: 40px;
}